h2 {
  color: green;
}
.paragraph1 {
  text-align: center;
}
div {
  background-color: aqua;
}
iframe {
  margin-left: 70px;
}
td {
  padding-right: 70px;
}
h3 {
  color: coral;
}
table {
  background-color: lightgray;
}
